<div class="row-fluid">
  <div class="container">
  <div class="span7">
    <%= render 'home/search' %>
	<%= render 'directions/gmaps_direction' %>
  </div>
  <div class="span3 offset2" id="#venues_bar">
    <%= render 'venue_locations/nearby_venues/nearby_venues_bar' %>
    </div>
  </div>
</div>