<div class="well">
<div class="row-fluid">
  <div class="container">
  <div class="span6">
    <%= render 'home/search' %>
    <%= render 'venue_locations/gmaps' %>
  </div>
  <div class="span4 offset2" id="#venues_bar">
    <%= render 'venue_locations/nearby_venues/nearby_venues_bar' %>
    </div>
  </div>
</div>
</div>

