// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search-bar {
    text-align: center; /* centers inline and inline-block children ≈
}
.search-bar .search-query,
.search-bar .btn-primary {
    display: inline-block; /* allows for heights to be set */
}
.search-bar .search-query {
    height: 40px;
    width: 580px;
}
.search-bar .btn-primary {
    height: 50px;
}

.home {
  background: url(HomePageBackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*body{
	background-image: url(Venue.jpg);
	background-repeat: none
}*/