<div class="well span10">
<h3>Inbox</h3>

<table class="table table-bordered">
  <tr>
    <th><i class="icon-user"></i> Name</th>
    <th><i class="icon-envelope"></i> Email</th>
    <th><i class="icon-eye-open"></i> View Message</th>
    <th><i class="icon-trash"></i> Delete Message</th>
  </tr>

<% @enquirers.each do |enquirer| %>
  <% if enquirer.recipient == current_user.id %>
  <tr>
    <td><%= enquirer.name %></td>
    <td><%= enquirer.email %></td>
    <td><%= link_to enquirer.message, enquirer %></td>
    <td><%= link_to 'Delete', enquirer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />
</div>
